*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100vh;
    background-color: grey;
    display: grid;
    place-items: center;
}

.mainContainer{
    width: 30rem;
    height: 30rem;
    background-color: #fff;
    border-radius: 2rem;
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContainer{
    position: absolute;
    right: 5rem;
    top: 2rem;
    font-weight: 600;
}

.buttonContainer{
    width: 12rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;

}

button{
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.5s ease;
}

button:hover{
    scale: 1.2;
}

.flipButton{
    background-color: lightgreen;
}

.resetButton{
    background-color: coral;
}

.coinContainer{
    width: 50%;
    aspect-ratio: 1;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.frontFace,
.backFace{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.frontFace{
    background-image:url(images/tura.png) ;
    background-size: cover;
}

.backFace{
    background-image: url(images/yazı.png);
    background-size: cover;
    transform: rotateX(540deg);
}

/* .coinContainer:hover{
    cursor: pointer;
    transform: rotateX(540deg);
} */